# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: restclient-jaxrs

on:
  push:
    paths:
      - "restclient-jaxrs/**"
    branches:
      - master
  pull_request:
    paths:
      - "restclient-jaxrs/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
          cache: "maven"
          
      - name: Start up databases via Docker Compose 
        run: |
            docker-compose up -d postgres
            docker ps -a        
      - name: Build with Maven
        run: |
          mvn -q clean  package --file restclient-jaxrs/pom.xml -DskipTests
