# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: vertx-routes

on:
  push:
    paths:
      - "vertx-routes/**"
    branches:
      - master
  pull_request:
    paths:
      - "vertx-routes/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: "21"
          cache: "maven"
                
      - name: Build with Maven
        run: |
          mvn -q --file vertx-routes/pom.xml clean test
